body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Jersey 10', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img[src*="folder"],
div[style*="background-image: url"] {
  pointer-events: none;
}

:root, html, body, * {
  cursor: url('./assets/arrow.svg') 5 -5, auto !important;
}

button, a, [role="button"], .icon-item, .icon-item *, .icon-item:hover, .icon-item *:hover, .clickable, input[type="button"], input[type="submit"], label[for], select, summary, [tabindex]:not([tabindex="-1"]):hover, .windows-control * {
  cursor: url('./assets/hand.svg') 5 -5, pointer !important;
}